<li id="course_{{courseCode}}" class="course">
	<a href="#{{courseCode}}" class="ui-link-inherit">
		<img src="images/logo_supinfo.jpg" class="ui-li-thumb" />
		<h2 class="ui-li-heading">{{courseCode}} - {{courseName}}</h2>
	</a>
</li>