<section id="promotion_{{year}}" class="promotion" data-role="collapsible">
	
	<h1>{{name}}</h1>
	
	<ul class="courses ui-listview ui-listview-inset ui-corner-all ui-shadow" 
		data-role="listview" data-inset="true">

	</ul>
	
</section>